@import "@base";

.cover {
  color: $primary-color;
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $section-padding;
}

.intro {
  font-size: 32px;
  color: $green;
  margin-bottom: 16px;
}

.main {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 16px;
}

.desc {
  font-size: 28px;
  opacity: $text-opacity;
}

.btnContainer {
  margin-top: 24px;
}

.link {
  display: flex;
  padding: $btn-padding;
  align-items: center;
}

@media screen and (max-width: $breakpoint-primary) {
  .cover {
    padding: $section-padding-alt;
  }

  .intro {
    font-size: 24px;
  }

  .main {
    font-size: 48px;
  }

  .desc {
    font-size: 16px;
  }
}
