@import "@base";

.container {
  padding: $section-padding;
}

.blog {
  @include card;
  margin-bottom: 32px;
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.description {
  margin-top: 16px;
  opacity: $text-opacity;
}

@media screen and (max-width: $breakpoint-secondary) {
  .container {
    padding: $section-padding-alt;
  }

  .title > h2 {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }
}