@import "@base";

.projects {
  padding: $section-padding;
  margin-bottom: 100px;
}

@media screen and (max-width: $breakpoint-primary) {
  .projects {
    padding: $section-padding-alt;
  }
}

@media screen and (max-width: $breakpoint-tertiary) {
  .projects {
    padding-left: 12px;
    padding-right: 12px;
  }
}
