$primary-color: #ffffff;
$primary-bg-color: #0d1117;
$secondary-bg-color: #161b22;
$violet: #bc8cff;
$green: #7ee787;
$space: #30363d;

$section-padding: 48px;
$section-heading-font-size: 48px;
$section-heading-font-size-secondary: 32px;
$section-heading-mb: 48px;
$section-heading-mb-secondary: 32px;

$section-padding-alt: 24px;

$text-opacity: 0.7;

$btn-padding: 16px 24px;

$breakpoint-primary: 768px;
$breakpoint-secondary: 480px;

@mixin section-heading {
  font-size: $section-heading-font-size;
  margin-bottom: $section-heading-mb;
  text-align: center;
}

@mixin section-heading-secondary {
  font-size: $section-heading-font-size-secondary;
  margin-bottom: $section-heading-mb-secondary;
}

@mixin card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $secondary-bg-color;
  padding: 24px;
  border: 2px solid $space;
  border-radius: 4px;
  margin-bottom: 64px;
}
