$primary-color: #ffffff;
$primary-bg-color: #0d1117;
$secondary-bg-color: #161b22;
$violet: #bc8cff;
$green: #7ee787;
$space: #30363d;

$section-padding: 48px;
$section-heading-font-size: 48px;
$section-heading-mb: 48px;

$text-opacity: 0.7;

$btn-padding: 16px 24px;

@mixin section-heading {
  font-size: $section-heading-font-size;
  margin-bottom: $section-heading-mb;
  text-align: center;
}
