@import "@base";

.main {
  width: calc(100% - 88px);
  min-height: 100vh;
  padding-top: 67px;
  margin-left: 88px;
  padding-right: 88px;
  display: flex;
  flex-direction: column;
  color: $primary-color;
}

@media screen and (max-width: $breakpoint-primary) {
  .main {
    padding-right: 44px;
  }
}

@media screen and (max-width: $breakpoint-secondary) {
  .main {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: $breakpoint-tertiary) {
  .main {
    padding-left: 12px;
    padding-right: 12px;
  }
}
