@import "@base";

.main {
  width: calc(100% - 88px);
  min-height: 100vh;
  padding-top: 67px;
  margin-left: 88px;
  padding-right: 88px;
  display: flex;
  flex-direction: column;
  color: $primary-color;
}

@media screen and (max-width: $breakpoint-primary) {
  .main {
    padding-right: 44px;
  }
}

@media screen and (max-width: $breakpoint-secondary) {
  .main {
    padding-right: 22px;
    margin-left: 64px;
  }
}
