@import "@base";

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $secondary-bg-color;
  padding: 24px;
  border: 2px solid $space;
  border-radius: 4px;
  margin-bottom: 64px;
}

.projectImg {
  width: 450px;
  position: relative;
  height: 280px;
  opacity: $text-opacity;
}

.projectImg:hover {
  opacity: 1;
}

.projectImg img {
  border-radius: 4px;
  object-fit: contain;
}

.projectDetailsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.projectContent {
  margin: 16px 0px;
  border-radius: 8px;
  font-weight: 300;
  letter-spacing: 0.4px;
  opacity: $text-opacity;
  line-height: 22px;
  width: 50%;
}

.projectContentList {
  margin-top: 24px;
  text-align: left;
}

.projectHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.urls {
  display: flex;
  align-items: center;
  gap: 4px;
}

.skillsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
