@import "@base";

.footer {
  padding: $section-padding;
  color: $primary-color;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.madeBy {
  text-align: center;
  width: 350px;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.1);
  padding-bottom: 12px;
}

.img {
  position: absolute;
  right: 16px;
  bottom: 0;
}

@media screen and (max-width: $breakpoint-primary) {
  .img {
    bottom: -220px;
  }
}
