@import "@base";

.contact {
  display: flex;
  justify-content: center;
  margin: 48px 0px;
}

.contactContent {
  padding: $section-padding;
  border: 2px solid $space;
  width: max-content;
  background: $secondary-bg-color;
  border-radius: 8px;
}

.heading {
  @include section-heading;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.build {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  opacity: $text-opacity;
}

.link {
  padding: $btn-padding;
}

@media screen and (max-width: $breakpoint-primary) {
  .contactContent {
    width: 100%;
  }

  .heading {
    @include section-heading-secondary;
  }

  .build {
    font-size: 16px;
    line-height: 32px;
  }
}

