@import "@base";

.sidebar {
  height: 100%;
  position: fixed;
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  left: 0;
}

@media screen and (max-width: $breakpoint-secondary) {
  .sidebar {
    padding: 12px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    height: max-content;
    background-color: inherit;
    z-index: 10;
    width: 99%;
  }
}
